body {
	background-color: #DBDBDB;
}

#footer {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.login-wrap {
	padding-top: 100px;
}

.member-profile-name {
	padding-left:10px;
	padding-right:10px;
}

.member-profile-name b.caret {
	margin-left:10px;
}

.img-greyscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.img-greyscale:hover {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    cursor: pointer;
}

.gallery .item {
	width:210px;
	height:210px;
	border-radius: 50%;
	right:0;
}

.pull-center {
	text-align: center !important;
}

input:-webkit-autofill, textarea:-webkit-autofill, input:-webkit-autofill:focus, textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    color: #555;
}

.footer {
	border-top:1px solid #5b98cc;
	padding-top:15px;
}

.footer ul {
	list-style-type: none;
	margin:0;
	padding:0;
	margin-left: 15px;
}
.footer ul li {
	float:left;
}
.footer ul > li:not(:first-child) {
	margin-left:2px;
}
.footer ul li:after {
	content: " |";
}
.footer ul li:last-child:after {
	content: "";
}
.footer ul li a {
	text-transform: uppercase;
}