html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body {
    font:11px Arial, Tahoma;
    background: #edeeef;
    color: #333;
} 

select, input, textarea, button { font:11px Arial; }

a:hover, a:active, *:focus, input:focus, button:focus { outline: none; }

#container {
    height: 400px;
    width: 460px;
    margin: -200px 0 0 -230px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    
}
#container h1 {
    display: block;
    text-align: center;
    font: bold 30px Arial; 
    padding-bottom: 15px;
    text-shadow: -1px 1px 0px rgba(255, 255, 255, 0.75);
    
}
#container #loginform {
    position:relative;
    background-color: #fff;
    width: 276px;
    height: 200px;
    padding: 20px 100px 55px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;  
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow:    0px 2px 1px rgba(0, 0, 0, 0.11);
    box-shadow:         0px 2px 1px rgba(0, 0, 0, 0.11);
    background-image: linear-gradient(bottom, rgb(246,246,248) 0%, rgb(251,251,251) 13%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(246,246,248) 0%, rgb(251,251,251) 13%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(246,246,248) 0%, rgb(251,251,251) 13%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(246,246,248) 0%, rgb(251,251,251) 13%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(246,246,248) 0%, rgb(251,251,251) 13%, rgb(255,255,255) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(246,246,248)),
        color-stop(0.13, rgb(251,251,251)),
        color-stop(1, rgb(255,255,255))
    );
          
}
#container #loginform .message  {
    display: block;
    background: url(alert.png) no-repeat 10px 12px;
    height:25px;
    border:1px solid #ffa7be;
    width:239px;
    color:#900616;
    padding: 7px 5px 7px 33px;
}
#container #loginform span.message {
    position:absolute;
    top:-41px;
}
#container #loginform #MemberLoginForm_LoginForm {
    position: absolute;
    bottom:40px;
}
#container #loginform #MemberLoginForm_LostPasswordForm {
    position: absolute;
    bottom:80px;
}
#container #loginform #MemberLoginForm_LoginForm #Email label, #container #loginform #MemberLoginForm_LoginForm #Password label {
    display: none;
}
#container #loginform #MemberLoginForm_LostPasswordForm #Email label {
    margin-top:2px;
}
input[type=text], input[type=password], input.text {
   
    width: 267px; 
    padding:9px 5px;
    margin:6px 0 5px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #d9d9db;
    background: #edeef0;
}

input[type=text]:focus, input[type=password]:focus {
  background: #e7e7e9;
}
input[type=submit] {
  font-family: Arial;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  padding: 7px 15px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 2px #999;
  -moz-box-shadow: 0px 1px 2px #999;
  box-shadow: 0px 1px 2px #999;
  text-shadow: 1px 1px 2px #666;
  border: solid #1B1B1B 0px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#BDBDBD), to(#6F6F6F));
  background: -moz-linear-gradient(top, #b10142, #8f0036);
}
input[type=submit]:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ACACAC), to(#4D4C4C));
  background: -moz-linear-gradient(top, #b10142, #8f0036);
}
.placeholder { color: #aaa; }
#container #loginform #MemberLoginForm_LoginForm #Password {
    padding-bottom:6px;
    border-bottom: 1px solid #e6e6e6;
}
#container #loginform #MemberLoginForm_LoginForm #Remember {
    float: left;
    padding-top: 13px;
}
#container #loginform #MemberLoginForm_LoginForm #Remember input[type=checkbox] {
    margin-top:2px;
    margin-right:2px;
} 
#container #loginform #MemberLoginForm_LoginForm #Remember label {
    color: #666;
    
}

#footer {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.Actions {
    position:relative;
    display: block;
    text-align: right;
    height: 30px;
}
.Actions input[type=submit] {
    position:absolute;
    top:-27px;
    right:0px;
    float: right;
    cursor: pointer;
}
#container #loginform #MemberLoginForm_LostPasswordForm .Actions input[type=submit] {
    position:absolute;
    top:0px;
    right:-3px;
    cursor: pointer;
    font-size:11px;
}
.Actions #ForgotPassword {
    position:absolute;
    top:80px;
    right:0px;
    width:277px;
    text-align: center;
}
.Actions #ForgotPassword a {
    background: url(img/arrow.png) no-repeat left 4px;
    color: #555555;
    padding-left:8px;
    text-decoration: none;
}
.Actions #ForgotPassword a:hover {
    text-decoration: underline;
}

input.placeholder {
    color: #999 !important;
}

