.ss-loading-screen .loading-logo { width: 100%; height: 100%; overflow: hidden; position: absolute; background: transparent url(logo.png) no-repeat 50% 50%; }
.cms-logo a {
    background: none;
    display: none;
}
.cms-logo span {
    text-align: center;
    margin-left: 0;
}